.btn-add {
  position: -webkit-sticky;
  position: sticky;
  float: right;
  z-index: 100;
  vertical-align: central;
}

.meal-delete-img {
  display: block;
  margin: auto;
}

.btn-edit {
  display: block;
  margin: auto;
}

.table-middle td {
  vertical-align: middle;
}

.nav-link {
  cursor: pointer;
}

.site-container {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 1rem;
  background-color: #f3f3f377;
}

@media screen and (max-width: 500px) {
  .site-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}
