.recipe-page-box {
  text-align: left;
  width: 70%;
  align-self: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 5px;
  background-color: white;
  justify-content: center;
  padding: 8px 15px 0px 15px;
}

@media screen and (max-width: 500px) {
  .recipe-page-box {
    width: 100%;
    margin: 0px 8px 0px 8px;
  }
}

.recipe-page .name {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: auto auto;
}

.recipe-page .name h2 {
  display: inline-block;
}

.recipe-page .rating {
  margin-left: 1rem;
  display: inline-block;
  margin-right: auto;
}

.recipe-page .menu {
  display: inline-block;
  justify-self: end;
}

.recipe-page .detail-img {
  grid-column: 1;
  align-self: start;
  max-width: 100%;
  max-height: 400px;
  display: block;
}

.recipe-page .desc {
  grid-column: 2;
  margin-left: 1rem;
  font-style: italic;
}

.recipe-page .tags {
  grid-column: 1 / span 4;
  border: 1px solid black;
  padding: 4px;
}

.recipe-page .source-link {
  grid-column: 1 / span 4;
  align-self: end;
}

.recipe-page .ingr {
  grid-column: 1 / span 4;
  padding-top: 1rem;
}

.recipe-page .ingr ul {
  padding-left: 5px;
  list-style-position: inside;
  border: 1px solid rgb(192, 190, 190);
  box-shadow: 1px 1px 1px #00000077;
  border-radius: 3px;
  margin-left: 5px;
}

.recipe-page .instr {
  grid-column: 1 / span 4;
}

.recipe-page .instr ol {
  padding-left: 5px;
}

.recipe-page .instr li {
  border: 1px solid rgb(192, 190, 190);
  padding: 5px;
  margin: 8px 0px 8px 0px;
  border-radius: 3px;
  list-style-position: inside;
  box-shadow: 1px 1px 1px #00000077;
}
