.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before,
.rating > span.selected:before,
.rating > span.selected ~ span:before {
  content: "\2605";
  position: absolute;
  color: rgb(224, 191, 3);
}
